<div class="signInPage">
<div class="blur">
</div>
</div>
	<div class="signInForm">
		
		<% if flash.now[:errors] %>
			<p class="errors">Invalid username or password</p>
		<% end %>
		<%= render "form", user: @user, action_url: session_url, submit_button: "Log In" %>

		<%= render "users/demo" %>
	<a class="btn btn-primary loginButton" href="<%=new_user_url%>">Sign Up</a>
	</div>
