<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for"email">Email</label>
  <input type="text" name="user[email]" id="email" value="<%= user.email %>">
  <br>
  <label for"password">Password</label>
  <input type="password" name="user[password]" id="password" >
  <br>
  <input type="submit" value="<%= submit_button %>">
</form>
