<body class="signInPage"><div class="signInPage">
<div class="blur">
</div>

</div>	
<div class="signInForm">
	<% if flash.now[:errors] %>
		<p class="errors">
			<%= flash.now[:errors].join(", ") %>
		</p>
	<% end %>
	<%= render "form", user: @user, action_url: users_url, submit_button: "Create Account" %>

		<a class="btn btn-primary loginButton" href="<%=new_session_url%>">Log In</a>
	

	</div>
