<body class="signInPage"><div class="signInPage">
<div class="blur">
</div>

</div>	<div class="signInForm">
	<p class="loginButton">
		<%= button_to("Log In", new_session_url, method: :get) %>
	</p>
		<%= render "form", user: @user, action_url: users_url, submit_button: "Create Account" %>

	

	</div>
