/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */


.board {
	height: 300px;
	width: 100%;
	border: solid black 1px;
	margin: 5px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
}

.create {
	border: dashed gray 2px;
	background-color: lightgray;
	display: inline-block;
}

.board:hover {
	cursor: pointer;
}

.board-userInfo {
	border: solid black 1px;
	text-align: center;
	margin: 5px;
}

.tabs {
	border-bottom: solid gray 1px;
	margin: 5px;
	text-align: center;
	box-shadow: 0px 2px 1px #888888;
	height:;
}

.active {
	border-bottom: 0px;
	margin: 5px;
	text-align: center;
	box-shadow: none;
	color: #7DAFBA;
	font-weight: bold;
}

.tabs span {
	padding: 10px;
}

.boardDetailTitle {
	text-align: center;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.pictures {
	height: 85%;
	margin: 10px;
}
.biggerPicture {
	border: 1px solid gray;
	padding: 0 5px;
	margin: 0 auto;
	height: 60%;
	border-radius: 3px;
}

.smallPictures {
	margin: 0 auto;
	text-align: center;
}

.smallPicture {
	border-radius: 3px;
	border: 1px solid gray;
}

body {
	padding-top: 50px;
}
