/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
* {
	font-family: 'Rokkitt', serif;
}

body {
	height: 100%;
}

button {
	font-size: 16px;
}
.btn-primary {
	background-color: #46879C;
	border-color: #104D61;
}

.btn-primary:hover {
	background-color: #2E5866;
}

.btn-primary:active {
	background-color: #2E5866;
}

.board {
	height: 275px;
	width: 100%;
	border: 1px solid #EBEBEB;
	margin: 5px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	box-shadow: 0px 0px 5px;
}

.create {
	border: dashed gray 2px;
	background-color: #F2F2F2;
	display: inline-block;
	line-height: 275px;
	font-size: 20px;
}

.create:hover {
	background-color: lightgray;
}

.board:hover {
	cursor: pointer;
}

.board-userInfo {
	text-align: center;
	margin: 5px;
	height: 200px;
	line-height: 200px;
	background-image: url(http://res.cloudinary.com/dlz00ljl6/image/upload/c_crop,h_3197,w_6038/v1456815949/photo-1420624226293-19b680e38dd6_gadlnf.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.tabs {
	border-bottom: solid gray 1px;
	margin: 5px;
	text-align: center;
	box-shadow: 0px 2px 1px #888888;
}

.active {
	border-bottom: 0px;
	margin: 5px;
	text-align: center;
	box-shadow: none;
	color: #46879C;
	font-weight: bold;
}

.tabs span {
	padding: 10px;
}

.boardDetailTitle {
	text-align: center;
}

.modal-container {
  position: relative;
  opacity: .75;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.pictures {
	height: 85%;
	margin: 10px;

}
.biggerPicture {
	border: 1px solid #CCCCCC;
	box-shadow: 0px 0px 1px #CCCCCC;
	padding: 0 5px;
	margin: 0 auto;
	height: 55%;
	border-radius: 3px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.smallPictures {
	margin-top: 2px;
	margin-right: 2px;
	text-align: center;
	height: 25%;
	overflow: hidden;
}

.smallPicture {
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	box-shadow: 0px 0px 1px #CCCCCC;
	height: 100%;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

body {
	padding-top: 50px;
}

.centered {
	text-align: center;
}

.nav-pills {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}

.nav-pills:hover {
	cursor: pointer;
}

.boardNavBar {
	height: 50px;
}

.boards {
	background-color: #D3E3E8;
	margin: 0px;
	padding-top: 20px;
	min-height: 1000px;
}

.editButton {
	margin-top: 5px;
	width: 100%;
	background-color: #F2F2F2;
	color: #46879C;
	font-weight: bold;
	border: 1px solid #CCCCCC;
}

.editButton:hover {
	color: gray;
}

#boardUsername {
	margin: 0 auto;
	transform: translateY(100px);
}

.image {
	width: 100%;
	margin: 0;
	padding: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.recipeIndexItem {
	border: 1px solid #EBEBEB;
	border-radius: 10px;
	padding: 0px;
	display: inline-block;
	background-color: white;
	box-shadow: 0px 0px 2px;
}

.recipeIndexItem:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px;
}

.recipeCategory {
	border-top: 1px solid #EBEBEB;
	padding: 10px;
	line-height: 35px;
}

.allRecipes {
	padding-top: 20px;
	max-width: 100%;
	height: 100%;
	background-color: #D3E3E8;
	min-height: 1000px;
}


.recipeItem {
	display: inline-block;
	padding-bottom: 30px;
}

.boardList {
	display: inline-block;
	position: fixed;
	top: 0;
	width: 55%;
	height: 100%;
	margin-bottom: 20px;
	max-height: 650px
}

.createPinRecipeItem {
	width: 45%;
	margin: 10px;
	display: inline-block;
	box-sizing: border-box;
	padding: 40px;
  background-color: #5DADC7;
  margin: 0px;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.pinBoardButton {
	margin-right: 20px;
	/*top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 75%;
  margin: 0px auto !important;*/
  /*margin-left: 40%;*/
}

.pinBoard {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
 	border-top: 1px solid lightgray;
  margin: 0px;
  padding: 0px;
  line-height: 16px;
  font-size: 16px;
}

.pinBoard:last-child {
	border-bottom: 1px solid lightgray;
}

.pinBoard:hover {
	/*border: 1px solid #CCCCCC;*/
	background-color: #e7e7e7
}

.boardListItems {
	position: relative;
	list-style: none;
	margin: 0px;
  padding: 0;
  max-height: 500px;
  overflow-y: scroll;
}

/*.boardListItems li{

  padding: 5px;
  margin: 10px;
}*/

/*.boardListItems button {
	display: none;
}

.boardListItems li:hover button {
	display: inline-block;
}*/

.boardList h4 {
	padding: 20px;
}
.signInForm {
	padding: 20px;
	width: 450px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	margin-left: -225px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	background-image: url(http://res.cloudinary.com/dlz00ljl6/image/upload/q_28/v1456720103/pineapples_fodvqi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	opacity: 1;
	z-index: 999;
	box-shadow: 0px 0px 10px #888888;
}

.signInForm label {
	width: 30%;
	text-align: left;
}

.signInForm input {
	width: 80%;
	border-radius: 5px;
	line-height: 32px;
	margin: 5px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.signInForm a {
}

.signInPage {
	text-align: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-image: url(http://res.cloudinary.com/dlz00ljl6/image/upload/q_31/v1456717419/photo-1452251889946-8ff5ea7b27ab_sfbert.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

.blur {
	background-color: black;
	opacity: .5;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.button_to {
	width: 100px;
	float: right;
}

.button_to input {
	background-color: gray;
	color: white;
}

.profileOptions {
	float: right;
	display: inline-flex;
}

#createPinModalHeader {
	height: 0;
	padding: 0;
	border: 0px;
}

.recipeTitle {
	padding: 10px;
}

.recipeDescription {
	padding-top: 0px; 
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.app {
	margin: 0px;
	padding: 0px;
}

.createPin {
	height: 750px;
}

#createPinModalBody {
	margin: 0px;
	padding: 0px;
	height: 750px;
}

.recipeDetail {
	padding: 10px;
	margin-top: 10px;
}

.recipeNavBar {
	margin-bottom: 10px;
}

.onoffswitch {
		display:	inline-block;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch label {
	width: 100%;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
		width: 100%;
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #46879C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 4px;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.formButtons {
	display: flex;
  justify-content: space-between;
}

.searchBar {
	width: 100%;
}

.searchBarGroup {
	width: 50%;
}

.privateBoardsTitle {
	font-weight: bold;
}

.categoryIndex {
	height: 135px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px;
	padding: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.categoryIndexOuter {
	width: 100%;
	padding: 0px;
	margin: 5px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0px 0px 5px;
	background-color: white;
	}

.categoryIndexOuter:hover {
	cursor: pointer;
}

.newCategory {
	display: flex;
	align-items: center;
	background-color: #EBEBEB;
	height: 155px;
	font-weight: bold;
	border: dashed 2px gray;
	justify-content: center;
}
.selectedCategory {
	box-shadow: 0px 0px 10px #005A78;
}

.categoryFormButton {
	position: relative;
	right: -85%;
}

.recipeCategoryImage {
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 1px solid black;
	margin-right: 10px;
	border-radius: 2px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.searchResults {
	position: absolute;
	background-color: white;
	width: 500px;
	list-style: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 0px;
}

.alertMessages {
	text-align: center;
}

.searchInput {
	width:  500px;
  height: 34px;
  border-radius: 4px;
  vertical-align: middle;
  padding-left: 10px;
  margin-right: 0px;
  border-right: 0px;
}

.searchForm {
	width: 600px;
	padding-left: 0px;
	margin-left: 0px;
}

.searchResultsItem {
	padding-bottom: 5px;
	padding-left: 10px;
}

.searchResultsItem:first-child {
	padding-top: 5px;
}
.searchResultsItem:hover {
	background-color: #e7e7e7;
}

.categoryText {
	height: 20px;
}

.boardDetailButtonNavBar {
	width: 80%;
	margin-left: 10%;
}

.noPinMessage {
	text-align: center;
	position: relative;
	font-size: 16px;
}

.noBoardMessage {
	text-align: center;
}

.pinBoardTitle {
	font-size: 18px;
	margin-left: 20px;
}

.errors {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}

.loginButton {
  width: 125px !important;
  line-height: 32px;
}

.close {
	margin-right: 25px;
  margin-top: 25px;
}

.submitButton {
	margin-left: 10px;
}

.deleteButton {
	background-color: #878B8C;
}

.newUserUrl {
	position: absolute;
	bottom: 0;
	font-size: 18px;
	left:0;
}

.siteTitle {
	margin:0px;
}

.userSignInForm {
	margin-top: 50px;
}

.footer {
	position: fixed;
	height: 20px;
	bottom: 0;
	background-color: #e7e7e7;
	width: 100%;
	margin: 0;
	padding-left: 50px
}